WCFShareingServer/SharingPictureClientApi/Service References/SharingPictureReference/ShareService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShareService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IShareService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8093/WCFSharePictureService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8093/WCFSharePictureService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShareService_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IShareService_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IShareService_BroadcastPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:BroadcastPicture" />
  </wsdl:message>
  <wsdl:message name="IShareService_BroadcastPicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:BroadcastPictureResponse" />
  </wsdl:message>
  <wsdl:message name="IShareService_NotifyCallbackMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyCallbackMessage" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IShareService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IShareService/Registration" message="tns:IShareService_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShareService/RegistrationResponse" message="tns:IShareService_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="BroadcastPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IShareService/BroadcastPicture" message="tns:IShareService_BroadcastPicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShareService/BroadcastPictureResponse" message="tns:IShareService_BroadcastPicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyCallbackMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IShareService/NotifyCallbackMessage" message="tns:IShareService_NotifyCallbackMessage_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IShareService" type="tns:IShareService">
    <wsp:PolicyReference URI="#NetTcpBinding_IShareService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Registration">
      <soap12:operation soapAction="http://tempuri.org/IShareService/Registration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BroadcastPicture">
      <soap12:operation soapAction="http://tempuri.org/IShareService/BroadcastPicture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyCallbackMessage">
      <soap12:operation soapAction="http://tempuri.org/IShareService/NotifyCallbackMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShareService">
    <wsdl:port name="NetTcpBinding_IShareService" binding="tns:NetTcpBinding_IShareService">
      <soap12:address location="net.tcp://localhost:8092/WCFSharePictureService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8092/WCFSharePictureService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>elia@hobart.local</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>